.layout > div {
	width: 100%;
	text-align: center;
}

.topheader {
	height: 40px;
	background-color: #012137;
	color: #fff;
}

.sizer {
	display: inline-block;
}

.topheader > div > span {
	display: inline-block;
	font-size: 16px;
	color: #7f96ae;
	font-weight: 500;
	margin-top: 10px;
}

.topheader > div > span > a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px dotted #fff;
	transition: 50ms ease-in-out;
}

.topheader > div > span > a:hover {
	opacity: 0.8;
}

.bottomheader {
	height: 65px;
	background-color: #fefefe;
	box-shadow: 0 2px 10px rgba(151, 164, 175, .1);
}

.dashboardheader {
	height: 160px;
	background-color: #fafcff;
	box-shadow: inset 0px 3px 8px rgb(151, 164, 175, .1);
	border-bottom: 1px solid #e7eaf3;
}

.oracleheader {
	height: 120px;
	background-color: #fafcff;
	box-shadow: inset 0px 3px 8px rgb(151, 164, 175, .1);
	border-bottom: 1px solid #e7eaf3;
}

.height-reduced {
	min-height: calc(100vh - 275px);
}

.height-full {
	min-height: calc(100vh - 325px);
}

.footer {
	height: 60px;
	background-color: #012137;
}

.footer > div {
	text-align: left;
}

.footer > div > span {
	color: #7f96ae;
	font-size: 15px;
	margin-block-start: 22.5px;
	display: inline-block;
}

@media screen and (min-width: 1300px) {
	.sizer {
		width: 1200px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1300px) {
	.sizer {
		width: 90vw;
	}
}

@media screen and (max-width: 600px) {
	.sizer {
		width: 95vw;
	}
}
