.oracle-page {
	transform: translateY(20px);
	width: 100%;
	padding-bottom: 50px;
}

.oracle-page > center > div {
	text-align: left;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
}

.oracle-page > center > div > div {
	vertical-align: top;
	padding-bottom: 10px;
	margin: 0px;
}

.oracle-page > center > div > div > div:nth-child(1) {
	padding: 5px 20px;
	width: calc(100% - 40px);
	display: inline-block;
	background-color: #fafcff;
	border-bottom: 1px solid #e7eaf3;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.oracle-page > center > div > div > div:nth-child(1) > p {
	margin-block-start: 7px;
}

.oracle-page > center > div > div > div:nth-child(2) {
	padding: 0px 20px;
	min-height: 20px;
}

.oracle-page > center > div > div > div:nth-child(2) > p {
	line-height: 20px;
}

.oracle-page > center > div > div > div:nth-child(2) > a > img {
	max-width: 200px;
}

.oracle-page > center > div > div > div:nth-child(2) > h3 {
	margin-block-start: 10px;
	margin-block-end: 0px;
}

.oracle-page > center > div > div > div:nth-child(2) > ul {
	margin-block-start: 3px;
}

.oracle-page > center > div > div > div:nth-child(2) > ul > li > a, .oracle-page > center > div > div > div:nth-child(2) > h3 > a {
	text-decoration: none;
	color: #337afe;
	transition: 50ms ease-in-out;
	font-weight: 500;
}

.oracle-page > center > div > div > div:nth-child(2) > ul > li > a:hover, .oracle-page > center > div > div > div:nth-child(2) > h3 > a:hover {
	color: #0150e3;
}

@media screen and (max-width: 1000px) {
	.oracle-page > center > div {
		grid-template-columns: 1fr;
	}
}
