.mainheader {
	width: 100%;
	height: 65px;
	display: inline-block;
}

.mainheader > div {
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.logo {
	width: 200px;
}

.logo > a {
	text-decoration: none;
}

.logo > a > img {
	width: 200px;
	margin-top: 15px;
}

.menu {
	width: calc(100% - 200px);
	text-align: right;
}

.menu > nav {
	margin-top: 22.5px;
}

.menu > nav > ul {
	list-style-type: none;
}

.menu > nav > ul > li {
	display: inline-block;
	margin: 0px 5px;
}

.menu > nav > ul > li > a {
	font-size: 16px;
	font-weight: 500;
	color: #6984aa;
	text-decoration: none;
	padding: 10px 10px;
	background-color: #fff;
}

.menu > nav > ul > li > a:hover {
	color: #337afe;
}

.menu > nav > ul > li:last-child {
	margin-right: 0px !important;
}

.menu > nav > ul > li:last-child > a {
	background-color: #337afe;
	padding: 10px 20px;
	border-radius: 5px;
	color: #fff !important;
	transition: 200ms ease-in-out;
}

.menu > nav > ul > li:last-child > a:hover {
	background-color: #256df1;
	color: #fff;
	box-shadow: 0 4px 11px rgba(51,122,254,.35);
}

.hamburger {
	display: none;
	height: 100%;
}

.hamburger > div {
	margin-top: 26.5px;
	cursor: pointer;
}

.menu-mobile {
	position: absolute;
	top: 120px;
	left: 5vw;
	width: 90vw;
	text-align: left;
	border-radius: 5px;
	height: auto !important;
	background-color: #fff;
	box-shadow: 0 0px 18px 2px rgba(151,164,175,.2);
	z-index: 9999;
}

.menu-mobile > nav > ul {
	list-style-type: none;
	padding-left: 25px;
}

.menu-mobile > nav > ul > li {
	padding: 2px;
}

.menu-mobile > nav > ul > li > a {
	text-decoration: none;
	color: #6984aa;
	font-weight: 500;
	font-size: 16px;
	padding: 5px 0px;
	display: inline-block;
	transition: 100ms ease-in-out;
}

.menu-mobile > nav > ul > li:last-child > a {
	background-color: #337afe;
	color: #fff !important;
	border-radius: 5px;
	padding: 7px 10px;
	margin-top: 3px;
}

.menu-mobile > nav > ul > li:last-child > a:hover {
	background-color: #256df1;
	color: #fff;
	box-shadow: 0 4px 11px rgba(51,122,254,.35);
}

.menu-mobile > nav > ul > li > a:hover {
	color: #337afe;
}

.hidden {
	display: none !important;
	opacity: 1;
}

.shown {
	display: inline-block !important;
}

@media screen and (max-width: 600px) {
	.menu > nav {
		display: none;
	}
	.hamburger {
		display: inline-block;
	}
}

@media screen and (min-width: 600px) {
	.menu-mobile {
		display: none !important;
		left: 2.5vw;
		width: 95vw;
	}
}
